# ---- Python / Django ----
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite (if any)
db.sqlite3

# Django static/media
staticfiles/
media/

# Environment / secrets
.env
.env.*

# Migrations cache
*/migrations/__pycache__/
*/migrations/*.pyc

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
